$font-baloo :"Baloo Thambi 2", cursive;
$font-raleway :"Raleway", cursive;
$font-rubik :"Rubik", cursive;
$color-primary:#828586;
$color-second:rgb(103, 117, 119);
$color-yellow:rgb(179, 169, 155);
